<nav
  class="fixed top-0 z-30 hidden h-16 w-screen items-center justify-between border-neutral-300 dark:border-neutral-700 bg-neutral-50/75 px-10 py-2 backdrop-blur-xl md:flex dark:bg-neutral-900/40 border-b"
>
</nav>
