<!DOCTYPE html>
<html lang="en" x-data :class="{ dark: $store.darkMode.enabled, light: !$store.darkMode.enabled }">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{ file.frontmatter.title }} - Cockpit
    </title>
    @if(file.frontmatter.summary)
      <meta name="description" content="{{ file.frontmatter.summary }}" />
    @else
      <meta name="description" content="Adonis Cockpit is the ultimate Admin Panel Builder for AdonisJS." />
    @end
    <meta property="og:image" content="https://adonis-cockpit.com/og.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://adonis-cockpit.com" />
    <meta property="og:title" content="{{ file.frontmatter.title }} - Cockpit" />
    @if(file.frontmatter.summary)
      <meta name="og:description" content="{{ file.frontmatter.summary }}" />
    @end

    <meta property="twitter:url" content="https://adonis-cockpti.com{{ file.frontmatter.permalink }}" />
    <meta property="twitter:title" content="{{ file.frontmatter.title }} - Cockpit" />
    @if(file.frontmatter.summary)
      <meta name="twitter:description" content="{{ file.frontmatter.summary }}" />
    @end

    <link
      rel="canonical"
      href="https://adonis-cockpit.com{{ file.frontmatter.permalink }}"
      link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Instrument+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    @vite(['assets/app.css', 'assets/app.js'])
    @include('partials/detect_color_mode')

  </head>
  <body>
    {{{ await $slots.main() }}}
  </body>
</html>
