<div
  class="overflow-hidden w-full overflow-x-auto rounded-md border border-neutral-300 dark:border-neutral-700"
>
  <table class="w-full text-left text-sm text-neutral-600 dark:text-neutral-300">
    {{{ await $slots.main() }}}
  </table>
</div>
